<!-- Form Field -->
<div>
  <mat-form-field>
    <mat-label>Prodavnica</mat-label>
    <mat-select
      [value]="selectedprodavnica"
      (selectionChange)="loadTable($event.value.id)"
    >
      <mat-option *ngFor="let prodavnica of prodavnice" [value]="prodavnica">
        {{ prodavnica.adresa + ", " + prodavnica.grad }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Check Column -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Check</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="checked($event, element)" [disabled]="(element.kolicina <= 0) && isPorudzbinaDisabled"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.artikl.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</th>
      <td mat-cell *matCellDef="let element">{{ element.artikl.naziv }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
      <td mat-cell *matCellDef="let element">{{ element.artikl.cena }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="alkoholno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alkoholno</th>
      <td       mat-cell
      *matCellDef="let element"
      [style.color]="element.artikl.alkoholno == true ? 'green' : 'red'"
    >
      {{ element.artikl.alkoholno ? "Da" : "Ne" }}</td>
    </ng-container>

    <ng-container matColumnDef="kolicina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kolicina</th>
      <td mat-cell *matCellDef="let element">{{ element.kolicina }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
  <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="openDialog()" [disabled]="isRacunDisabled">
    Kreiraj racun
  </button>
  <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="openPorudzbinaDialog()" [disabled]="isPorudzbinaDisabled">
    Kreiraj porudzbinu
  </button>
</div>
