<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon [routerLink]="['/home']">
          Home
        </mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aplikacija
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a [routerLink]="['/login']" mat-button>Login</a>
        </mat-nav-list>
        <mat-nav-list>
          <button (click)="logout()" mat-button color="warn">Logout</button>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/stanje']"  mat-button>Stanje</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin Panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a [routerLink]="['/korisnik']" mat-button>Korisnici</a>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/artikl']" mat-button>Artikli</a>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/dobavljac']" mat-button>Dobavljaci</a>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/prodavnica']" mat-button>Prodavnice</a>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/racun']" mat-button>Racuni</a>
        </mat-nav-list>
        <mat-nav-list>
          <a [routerLink]="['/porudzbina']" mat-button>Porudzbine</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <div class="test">
  <mat-toolbar >
    <span>Diskont pica</span>
  </mat-toolbar>
  <br />
  <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


