<!-- PRODAVNICA TABLE-->
<h1>Prodavnice</h1>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- NAZIV Column -->
  <ng-container matColumnDef="adresa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresa</th>
    <td mat-cell *matCellDef="let element">{{ element.adresa }}</td>
  </ng-container>

  <!-- CENA Column -->
  <ng-container matColumnDef="grad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Grad</th>
    <td mat-cell *matCellDef="let element">{{ element.grad }}</td>
  </ng-container>
    <!-- NAZIV Column -->
    <ng-container matColumnDef="postanski_broj">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Postanski broj</th>
      <td mat-cell *matCellDef="let element">{{ element.postanski_broj }}</td>
    </ng-container>

    <!-- CENA Column -->
    <ng-container matColumnDef="telefon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>
      <td mat-cell *matCellDef="let element">{{ element.telefon }}</td>
    </ng-container>

        <!-- CENA Column -->
        <ng-container matColumnDef="menadzer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Menadzer</th>
          <td mat-cell *matCellDef="let element">{{ element.menadzer.korisnik.email }}</td>
        </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="openDialog(1, null)">
        <mat-icon>add</mat-icon>
      </button>
    </th>

    <td mat-cell *matCellDef="let row; let i = index">
      <button mat-icon-button color="primary" (click)="openDialog(2, row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>
